nav {
  display: flex;
  background: $white;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  padding: 0px 200px 0px 150px;
    #logo {
    padding-left: 15px;
    height: 60px;
  }

  :nth-child(2) {
  margin-left: auto;
  }

  .menu-item {
    text-decoration: none;
    color: $black;
    padding: 20px 40px;
    position: relative;
    text-align: center;
    border-bottom: 3px solid transparent;
    transition: 0.4s;

    &.active, &:hover {
      cursor: pointer;
      background:rgba(0,0,0,0.2);
      border-bottom-color: #FF5858;
    }
  }

  .loginButton {
    background-color: #30ac7c;
  }
}